.psd-dashboard-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.psd-dashboard-section > button {
  margin-left: 10px;
}
.psd-barcode-label-container {
  border: 1px solid #d1d8dd;
  width: fit-content;
  overflow: hidden;
}
.psd-barcode-label {
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
  height: 34mm;
  width: 64mm;
  padding: 1.5mm;
  display: grid;
  grid-template-columns: 1fr 6mm;
  grid-template-rows: 4mm 1fr 17.5mm;
  grid-template-areas: 'header footer' 'text footer' 'barcode footer';
  font-family: monospace;
  font-size: 8pt;
  line-height: 1.2;
  text-align: center;
}
.psd-barcode-rotated {
  line-height: 6mm;
  transform: translate(calc(-12.5mm), 0) rotate(-90deg);
  transform-origin: center center;
  height: 6mm;
  width: calc(31mm);
}
.psd-barcode-header {
  grid-area: header;
  text-transform: uppercase;
}
.psd-barcode-text {
  grid-area: text;
  height: calc(28.8pt);
  overflow-y: hidden;
  align-self: center;
}
.psd-barcode-area {
  grid-area: barcode;
  align-self: center;
}
.psd-barcode-foot {
  grid-area: footer;
  font-size: 1.4em;
  align-self: center;
}
.psd-barcode-strong {
  font-weight: bold;
}
