.psd-dash-detail {
  display: flex;
  flex-flow: row nowrap;
}
.psd-dash-detail dt {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: normal;
}
.psd-dash-detail dd {
  font-size: 1.2em;
  font-weight: bold;
}
