.psd-dash-detail {
  display: flex;
  flex-flow: row nowrap;
}
.psd-dash-detail dt {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: normal;
}
.psd-dash-detail dd {
  font-size: 1.2em;
  font-weight: bold;
}
.psd-dash-items {
  font-size: 12px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;
}
.psd-dash-items > div {
  margin: 2px 0;
  width: 100%;
}
@media (min-width: 768px) {
  .psd-dash-items > div {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .psd-dash-items {
    margin-bottom: 0;
  }
}
.psd-text-strong {
  font-weight: bold;
}
