.psd-subscription-subtitle {
  font-variant: all-small-caps;
  padding: 0 4px;
  margin: 0 8px;
  background-color: #d1d8dd;
}
.psd-subscription-item {
  display: flex;
  flex-flow: row wrap;
}
.psd-subscription-date {
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 8px;
}
