{% sections.forEach(({ title, items } = {}) => { %}
<div>
  {% if (title) { %}
  <h6>{%= title %}</h6>
  {% } %}
  {% if (items.length > 0) { %}
    {% items.forEach(({ item_name, from_date, to_date, lifetime, link, color, eta } = {}) => { %}
    <div class="row psd-info_item">
      <div class="col-sm-5 psd-info-item-description">
        <span class="indicator {{ color }}" />
        <span class="psd-info_item-title">
          <a href="{%= encodeURI(`#Form/Gym Subscription/${encodeURIComponent(link)}`) %}">
            {%= item_name %}
          </a>
        </span>
        {% if (lifetime) { %}
        <span class="psd-info_item-subtitle">Lifetime</span>
        {% } %}
      </div>
      <div class="col-sm-4 psd-info_item-date">
        <span>{%= from_date %}</span>
        {% if (to_date) { %}
        &ndash;
        <span>{%= to_date %}</span>
        {% } %}
      </div>
      <div class="col-sm-3">
        {%= eta %}
      </div>
    </div>
    {% }) %}
  {% } else { %}
  <p>None</p>
  {% } %}
</div>
{% }) %}
