.psd-barcode-label-container {
  border: 1px solid #d1d8dd;
  width: fit-content;
}
.psd-barcode-label {
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
  height: 34mm;
  width: 64mm;
  padding: 1.5mm;
  display: grid;
  grid-template-columns: 8mm 1fr 8mm;
  grid-template-rows: auto;
  grid-template-areas:
    'header header footer'
    'title title footer'
    'barcode barcode footer';
  font-family: monospace;
  font-size: 8pt;
  line-height: 1.3;
}
.psd-barcode-rotated {
  line-height: 8mm;
  text-align: center;
  transform: translate(
      calc((8mm - (34mm - 1.5mm * 2)) / 2),
      calc(((34mm - 1.5mm * 2) - 8mm) / 2)
    )
    rotate(-90deg);
  transform-origin: center center;
  height: 8mm;
  width: calc(34mm - 1.5mm * 2);
}
.psd-barcode-header {
  grid-area: header;
  text-align: center;
  text-transform: uppercase;
}
.psd-barcode-title {
  grid-area: title;
}
.psd-barcode-area {
  grid-area: barcode;
}
.psd-barcode-foot {
  grid-area: footer;
  font-size: 1.5em;
}
.psd-barcode-strong {
  font-weight: bold;
}
