.psd-dash-detail {
  display: flex;
  flex-flow: row nowrap;
  dt {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: normal;
  }
  dd {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.psd-dash-items {
  font-size: 12px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;
  & > div {
    margin: 2px 0;
    width: 100%;
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
.psd-text-strong {
  font-weight: bold;
}
