.psd-info_item {
  margin-bottom: 8px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
.psd-info_item-subtitle {
  font-variant: all-small-caps;
  padding: 0 4px;
  background-color: #d1d8dd;
}
.psd-info_item-date {
  font-size: 0.9em;
  font-weight: bold;
}
