<link
  rel="stylesheet"
  type="text/css"
  href="/assets/css/psd_customization.css"
/>

{% set page_margin_horz = 'calc((210mm - {cols} * {width} - ({cols} - 1) *
{gap}) / 2)'.format( cols=col_num or 1, width=label_width or '0mm',
gap=column_gap or '0mm' ) %} {% set page_margin_vert = 'calc((297mm - {rows} *
{height} - ({rows} - 1) * {gap}) / 2)'.format( rows=row_num or 1,
height=label_height or '0mm', gap=row_gap or '0mm' ) %}

<style>
  @page {
    size: A4;
    margin: {{ page_margin_vert }} {{ page_margin_horz }};
  }
  .print-format {
    padding: 0;
  }
  .print-format td, .print-format th {
    padding: 0 !important;
  }
  .psd-barcode-page {
    display: grid;
    grid-template-columns: repeat({{ col_num }}, {{ label_width or '64mm' }});
    grid-column-gap: {{ column_gap or 0 }};
    grid-row-gap: {{ row_gap or 0 }};
    grid-template-rows: repeat({{ row_num }}, {{ label_height or '34mm' }});
  }
  @media screen {
    .psd-barcode > tbody > tr > td {
      margin: {{ page_margin_vert }} {{ page_margin_horz }};
    }
    .psd-barcode > tbody > tr {
      border-bottom: 1px solid {{ style.border_color }};
    }
  }
  .psd-barcode-label-container {
    border-style: dashed;
    border-radius: {{ label_border_radius or 0 }};
  }
  .psd-barcode-skip {
    width: {{ label_width or '64mm' }};
    height: {{ label_height or '34mm' }};
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: {{ style.border_color }};
  }
  @media print {
    .psd-barcode-label-container {
      border: none;
    }
    .psd-barcode-skip {
      opacity: 0;
    }
  }
</style>

{% set items = [] %} {% for c in range(0, frappe.utils.cint(doc.skip) or 0) %}
{% set _0 = items.append(None) %} {% endfor %} {% for item in doc.items %} {%
for c in range(0, frappe.utils.cint(item.qty)) %} {% set _0 = items.append(item)
%} {% endfor %} {% endfor %} {% set num_of_labels = col_num * row_num if col_num
and row_num else 1 %}

<table class="psd-barcode">
  <tbody>
    {% for p in range(0, items|length, num_of_labels) %}
    <tr>
      <td class="psd-barcode-page">
        {% for item in items[p: [items|length, p + num_of_labels]|min] %} {% if
        item %}
        <div class="psd-barcode-label-container">
          <div class="psd-barcode-label">
            <div class="psd-barcode-header">{{ doc.company }}</div>
            <div class="psd-barcode-text">
              <span class="psd-barcode-strong">{{ item.item_code }}</span>
              {% if item.item_code != item.item_name %} :
              <span>{{ item.item_name }}</span>
              {% endif %}
            </div>
            {% set barcode = item.batch_no if doc.encode_field == 'Batch No' else item.barcode %}
            {% set barcode_type = 'ean13' if doc.encode_field != 'Batch No' and item.barcode_type == 'EAN' else 'auto' %}
            <div class="psd-barcode-area">
              {% if barcode %}
              <svg
                class="barcode"
                jsbarcode-format="{{ barcode_type }}"
                jsbarcode-margin="0"
                jsbarcode-margintop="4"
                jsbarcode-marginbottom="4"
                jsbarcode-height="40"
                jsbarcode-width="2"
                jsbarcode-fontsize="11"
                jsbarcode-value="{{ barcode }}"
              />
              {% else %}
              <span>NO_DATA</span>
              {% endif %}
            </div>
            <div
              class="psd-barcode-foot psd-barcode-strong psd-barcode-rotated"
            >
              {{ frappe.utils.fmt_money(item.price, currency=item.currency) }}
            </div>
          </div>
        </div>
        {% else %}
        <div class="psd-barcode-skip">{{ loop.index }}</div>
        {% endif %} {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"
></script>
<script type="text/javascript">
  const iframe = document.getElementsByClassName('print-format-container')[0];
  if (iframe) {
      const elements = iframe.contentDocument.getElementsByClassName("barcode");
      for (let element of elements) {
        const barcode = JsBarcode(element);
        barcode.options({ flat: true });
        barcode.init();
      }
  } else {
    const barcode = JsBarcode('.barcode');
    barcode.options({ flat: true });
    barcode.init();
  }
</script>
